body {
background: #ff5e63;
  background: linear-gradient(#ff9968, #ff5e63)  no-repeat;
  font-family: 'Roboto', sans-serif;
}

form {
  background:white;
  border-radius:5px;
  padding:3%;
  width:90%;
  margin-top:10%;
  margin-bottom:10%;
  text-align:left;
  display:block;
}

.radioButton {
  vertical-align: top;
  font-size:2.2vw;
}
.checkButton {
  font-size:2.2vw;
}
#submitButton {
  margin-top:5%;
  font-size:3vw;
}
#submitButton:hover {
background-color:#ffc30f;
color:white;
}
p {

  font-size: 3vw;
  font-weight: 700;
 padding:0;
  transition: .2s ease-in-out;
}


input[type='radio']:checked:active {
  background-color:#ffc30f;
}
input[type='checkbox']:checked:active {
  background-color:#ffc30f;
}

label.radioButton{
  padding-right:3%;
  font-weight:300;
}

label.checkButton{
  padding-right:3%;
  font-weight:300;
}
label{

margin-bottom:4%;
  font-size: 3vw;
  font-weight: 500;
 padding:0;
  transition: .2s ease-in-out;
}
#field:focus[type=text] + #label {

  font-size: 1vw;
  font-weight: 200;
  color: #9e9e9e;
padding:0;
}
.inputContainer input[type=text]{

  background: transparent;
  box-shadow:none;
  width:100%;
  font-size:3vw;
  padding:0;
 
}
/*body, html {
  overflow: visible !important;
}

body {
  background-color:#00BFFF;
    font-family: 'Roboto', sans-serif;
    height:6000px;
}

.section {
 position: fixed;
  width: 100%;
  min-height: 100%;
  text-align: center;
  top: 50%;
  opacity: 0;
  font-size: 30px;
}

.sortable-handler {
  touch-action: none;
}*/
/*body {
background-color:#00BFFF;
    font-family: 'Roboto', sans-serif;

}
.inputContainer {
background-color:white;
  color:black;
width:30%;
  box-shadow: 0 8px 12px 2px rgba(0,0,0,0.14), 0 6px 15px 5px rgba(0,0,0,0.12), 0 4px 5px -5px rgba(0,0,0,0.3);
  transition: transform .1s ease-in-out;
padding:1%;
margin:3%;
text-align:left;
  border-radius:5px;
}
input {
  width:100%;
  border:none;
}
label {
 width:100%;
height:100%;
  font-size: 1.5vw;
  font-weight: 500;
 
  transition: .2s ease-in-out;
}
.inputContainer input:valid[type=text] + label {
  top: -5%;
  font-size: 1vw;
  font-weight: 200;
  color: #9e9e9e;
}
.inputContainer input[type=text]{
  border:none;
  outline: 0;
  background: transparent;
  box-shadow:none;
  width:100%;
  height:100%;
  font-size:1.5vw;
 
}*/

/*body {
  background-color:#00BFFF;
    font-family: 'Roboto', sans-serif;


}

.introText {

  text-align:left;
  color:white;
margin-left:10%;
margin-right:10%;
  display:block;
  


}

#containerInput input:invalid[type=text] + #label {
  animation:shake 0.8s;
}
#containerInput input:valid[type=text] + #label {
  top: -5%;
  font-size: 1vw;
  font-weight: 200;
  color: #9e9e9e;
}

h1 {
  font-size:4vw;
  font-weight:500;
}

h2 {
  font-size:3vw;
  font-weight:200;
}
#containerInput {
  width:100%;
  height:100%;
  text-align:left;
}

#boxInput {
  background-color:white;
  color:black;
width:50%;
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
  transition: transform .1s ease-in-out;
padding:1%;
  margin:20%;
  border-radius:5px;

}
#label {


width:100%;
height:100%;
  font-size: 2vw;
  font-weight: 500;
 
  transition: .2s ease-in-out;
}

#nextButton {

  color: white;
display: block;
margin-left:20%;
margin-right:20%;
}
#leftArrow{
  float:left;
  display:inline-block;
  cursor:pointer;

}
#rightArrow {

  float:right;
  cursor:pointer;
  display:inline-block;
}
hr {
  width:100%;
  color:#00BFFF;

}

#containerInput input[type=text]{
  border:none;
  outline: 0;
  background: transparent;
  box-shadow:none;
  width:100%;
  height:100%;
  font-size:2vw;
 
}
.buttonLabel {
  width:100%;
  padding:5%;
  cursor:pointer;
  transition: color 200ms ease-in;
  overflow: hidden;
  position:relative;
  &:before {
        transform: translate(-50%, -50%) scale3d(1, 1, 1);
        transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
        background-color: #4169e1;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}*/

