<!DOCTYPE html>
<html>

<head>
  <title>Another Octave</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
	<!-- <div class="introText">
<h1>Let's play another octave.</h1>
<h2>Want to meet new people but not sure how? Enter your net id and meet a new person every week.</h2>
<div> -->
<center>
	<span id="nextButton">
						<div id="leftArrow"><i style="font-size:5vw" class="fa fa-angle-left"></i></div>
<div id="rightArrow"><i style="font-size:5vw" class="fa fa-angle-right"></i></div>
	<form action="/add-to-db" method="post">
		<div id="boxInput">
		<div id="containerInput">

		<input id="field" required/>


			<label id="label"></label>
			<div id="buttonFields"></div>


		</div>

	</div>
<input type="submit" value="Submit">
	</form>
</span>
</center>

</body>
<script src="{{url_for('static', filename='script.js')}}"></script>
</html>