<!DOCTYPE html>
<html>

<head>
	<title>Another Octave</title>
	<link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
	<!-- <div class="introText">
<h1>Let's play another octave.</h1>
<h2>Want to meet new people but not sure how? Enter your net id and meet a new person every week.</h2>
<div> -->

<!-- 	<div class="content">
  <div class="content__container">
     <p class="content__container__text">CONNECT   </p> 
    
    <ul class="content__container__list">
      <li class="content__container__list__item">NYUAD !</li>
      <li class="content__container__list__item">songs</li>
      <li class="content__container__list__item">memories</li>
      <li class="content__container__list__item">experiences</li>
      <li class="content__container__list__item">stories</li>

    </ul>
  </div>
</div> -->
<div class="main">
	<div class="container">
	<center>
<form action="/add-to-db" method="post">
	<div class="row">
	<div class="col-md-12 col-sm-4">

			<div class="inputContainer form-group" id="netid">

		<input class="form-control" id="field" name="net_id" type="text" required/>
				<label id="label">Net ID</label>	
</div>
</div>
<div class="section col-md-12 col-sm-4">
			<div class="inputContainer form-group" id="netidconfirm">
				<input class="form-control" id="field" type="text" name="net_id_confirm" required />
				<label id="label">Confirm Net ID</label>

			</div>
		</div>
		<div class="section col-md-12 col-sm-4">
			<div class="inputContainer form-group" id="fullname">
		<input class="form-control" id="field" type="text" name = "full_name" required/>
			<label id="label">Full Name</label>
		</div>
	</div>
	<div class="section col-md-12 col-sm-4">
<div class="inputContainer form-group" id="preferredname">
		<input class="form-control" id="field" type="text" name = "pref_name" required/>
			<label id="label">Preferred Name</label>
		</div>
	</div>
	<div class="section col-md-12 col-sm-4">
		<div class="inputContainer form-group" id="threethings">
		<input class="form-control" id="field" type="text" name="3_things" required/>
			<label id="label">Three Things You Like?</label>
		</div>
	</div>
	<div class="section col-md-12 col-sm-4">
		<div class="tooltip">
  <span class="tooltiptext">Find the Net IDs using your Gmail!</span>
</div>
		<div class="inputContainer form-group" id="netidexceptions">
		<input class="form-control" id="field" type="text" name = "already_met"/>
			<label id="label">Net IDs of Those You Wouldn't Want to Meet? (ex: not wanting to match with a close friend, etc.)</label>
		
		</div>
	</div>
	<div class="section col-md-12 col-sm-4">
		<div class="inputContainer form-group radioGroup" id="class">
		<input id="firstyear" value="firstyear" name="year" type="radio"/>
			<label class="radioButton" for="firstyear" id="label">First Year</label>
			<input  id="sophomore" value="sophomore" name="year" type="radio"/>
			<label for="sophomore" class="radioButton" id="label">Sophomore</label>
			<input id="junior" value="junior" name="year" type="radio"/>
			<label for="junior" class="radioButton" id="label">Junior</label>
			<input id="senior" value="senior" name="year" type="radio"/>
			<label for="senior" class="radioButton" id="label">Senior</label>
				<p>Class Year?</p>
		</div>
	
	</div>
	<div class="section col-md-12 col-sm-4">
		<div class="inputContainer form-group checkGroup" id="contact">
		<input id="facebook" value="facebook" name="check_fb" type="checkbox"/>
			<label for="facebook" class="checkButton" id="label">Facebook</label>
			<input id="instagram" value="instagram" name="check_ig" type="checkbox"/>
			<label for="instagram" class="checkButton" id="label">Instagram</label>
			<input id="whatsapp" value="whatsapp" name="check_wa" type="checkbox"/>
			<label for="whatsapp" class="checkButton" id="label">Whatsapp</label>
			<p>Best Ways To Contact You?</p>
		</div>
	
	</div>

	
	
	
	<div class="section col-md-6 col-sm-4">
		<div class="inputContainer form-group">
<button id="submitButton" type="submit" class="btn btn-default">Submit</button>
</div>
</div>
</div>

	</form>

 <!-- <span id="nextButton">
						<div id="leftArrow"><i style="font-size:5vw" class="fa fa-angle-left"></i></div>
<div id="rightArrow"><i style="font-size:5vw" class="fa fa-angle-right"></i></div>
	<form action="/add-to-db" method="post" id="formId">
		<div id="boxInput">
		<div id="containerInput">

		<input id="field" name="form-elem" required/>


			<label id="label"></label>
			<div id="buttonFields"></div>


		</div>

	</div>
<button id="submit">Submit</button>
	</form>
</span> -->
</center>
</div>
</div>



</body>

</html>