<!DOCTYPE html>
<html>

<head>
	<title>Another Octave</title>
	<link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
	<!-- <div class="introText">
<h1>Let's play another octave.</h1>
<h2>Want to meet new people but not sure how? Enter your net id and meet a new person every week.</h2>
<div> -->
<center>
	
<form action="/add-to-db" method="post">
		<div id="netid">
		<input id="field" name="net_id" type="text" required/>

		<form action="/add-to-db" method="post">
			<div id="netid">
				<input id="field" type="text" name="f1" required />


				<label id="label">Net Id</label>
			</div>
			<div id="netidconfirm">
				<input id="field" type="text" required />
				<label id="label">Confirm Net ID</label>
			</div>
			<div id="fullname">
		<input id="field" type="text" name = "full_name" required/>
			<label id="label">Full Name</label>
		</div>
<div id="preferredname">
		<input id="field" type="text" name = "pref_name" required/>
			<label id="label">Preferred Name</label>
		</div>
		<div id="threethings">
		<input id="field" type="text" name="3_things" required/>
			<label id="label">Three Things You Like?</label>
		</div>
		<div id="netidexceptions">
		<input id="field" type="text" name = "already_met" required/>
			<label id="label">Net IDs you Wouldn't Want to Meet</label>
		</div>
		<div id="class">
		<input id="firstyear" value="firstyear" name="first_year" type="radio"/>
			<label for="firstyear" id="label">First Year</label>
			<input id="sophomore" value="sophomore" name="second_year" type="radio"/>
			<label for="sophomore" id="label">Sophomore</label>
			<input id="junior" value="junior" name="junior" type="radio"/>
			<label for="junior" id="label">Junior</label>
			<input id="senior" value="senior" name="senior" type="radio"/>
			<label for="senior" id="label">Senior</label>
		</div>
		<div id="contact">
		<input id="facebook" value="facebook" name="check_fb" type="checkbox"/>
			<label for="facebook" id="label">Facebook</label>
			<input id="instagram" value="instagram" name="check_it" type="checkbox"/>
			<label for="instagram" id="label">Instagram</label>
			<input id="whatsapp" value="whatsapp" name="check_wa" type="radio"/>
			<label for="whatsapp" id="label">Whatsapp</label>
		
		</div>
	
	
	
	
<input type="submit" value="Submit">
	</form>

 <!-- <span id="nextButton">
						<div id="leftArrow"><i style="font-size:5vw" class="fa fa-angle-left"></i></div>
<div id="rightArrow"><i style="font-size:5vw" class="fa fa-angle-right"></i></div>
	<form action="/add-to-db" method="post" id="formId">
		<div id="boxInput">
		<div id="containerInput">

		<input id="field" name="form-elem" required/>


			<label id="label"></label>
			<div id="buttonFields"></div>


		</div>

	</div>
<button id="submit">Submit</button>
	</form>
</span> -->
</center>

</body>
<script src="{{url_for('static', filename='script.js')}}"></script>

</html>